body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 20px;
  width: 300px;
  background-color: #c2c2c2;
}

h3 {
  color: #047fc2;
  margin-bottom: 10px;
  font-size: 18px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #047fc2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

button:hover {
  background-color: #026296;
}

textarea {
  width: 100%;
  height: 100px; /* You can adjust the height as needed */
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none; /* Prevent resizing */
  font-family: 'Source Sans Pro', sans-serif;
}

.loading {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

/* Styles for the Copy Icon */
#copyIcon {
  display: none; /* Initially hidden until a message is generated */
  margin-top: 10px;
  text-align: center;
}

#regenerateIcon {
  display: none; /* Initially hidden until a message is generated */
  margin-top: 10px;
  text-align: center;
}

.icon-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* Hover Effect for the Copy Icon */
.copy-icon .regenerate-icon {
  transition: fill 0.3s ease; /* Smooth transition for color change */
}

#copyIcon:hover svg, #regenerateIcon:hover svg {
  fill: #026296; /* Darker hover color */
}

#userOneliner {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  font-size: 14px;
}